@tailwind base;
@tailwind components;

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

main {
  margin-top: 9.5rem;
}

.App {
  @apply w-full h-full;
  transition: all 0.3s ease;
}

.card {
  @apply flex flex-col items-center text-gray-700 p-4 text-sm;
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    @apply mt-2;
  }

  &__img {
    @apply border border-gray-600 rounded-md h-20 py-2 px-6;
  }
  &__name,
  &__abv {
    @apply text-center;
  }
  &__abv {
    &-unit {
      @apply font-light text-xs;
    }
  }
}
.active {
  @apply text-third;
}

button:focus {
  @apply outline-none;
}

.counter-btn {
  @apply w-1/5 text-center py-2 px-1;
}

/* tab styling */

.tab {
  @apply relative w-1/4 py-1 px-1 rounded-t-lg text-purple-400 bg-gray-200;
  transition: transform 0.2s ease-in-out;
  &__link {
    @apply z-30 absolute pb-2;
    left: 43%;
    top: 0;
  }
  &:before,
  &:after {
    @apply absolute bottom-0;
    content: "";
    width: 30px;
    height: 15px;
  }
  &:after {
    right: -30px;

    border-radius: 0 0 0 15px;
    box-shadow: -15px 0 0 0 #edf2f7;
  }

  &:before {
    left: -30px;

    border-radius: 0 0 15px 0;
    box-shadow: 15px 0 0 0 #edf2f7;
  }
  &.active {
    @apply bg-gray-200 text-third;
    transition: all 0.1s ease;
    /* &:last-child:after {
      @apply hidden;
    } */
  }
}

.modal {
  @apply bg-gray-200 z-10 rounded-lg text-gray-600 p-5 border border-third;
  width: 90%;
  transition: all 0.2s linear;
  top: -80%;
  left: 5%;
  /* top: 150%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  &.open {
    opacity: 0.95;
    top: 10%;
    left: 5%;
  }
  &__title {
    @apply text-xl font-extrabold mb-4;
  }
  &__info {
    @apply font-light mb-3;
    /* transition: all 0.2s ease; */
  }
  &__img {
    @apply mb-6 py-3 px-10 bg-white rounded-lg;
    height: 120px;
    min-width: 105px;
  }
  & .btn {
    @apply rounded-lg px-3 py-1 text-white bg-third;
    min-width: 130px;
    &:hover {
      @apply bg-gray-700;
    }
    &--close {
      @apply bg-gray-200 border border-third text-third;
      top: -40px;
      left: 0;
      &:hover {
        @apply bg-purple-700;
      }
    }
  }
  &-col-2 {
    width: 31rem;
  }
}

.background {
  @apply absolute w-full h-full;
  filter: blur(4px);
}

.line {
  height: 2px;
  width: 38px;
}

.shopping-cart {
  @apply flex flex-col items-center fixed bottom-0 w-full bg-gray-200 pb-4 text-gray-600 overflow-auto rounded-t-xl;
  & .alert {
    @apply rounded-full bg-third px-2 text-secondary absolute font-semibold z-50;
    top: 11px;
    right: 14px;
  }
  &__header {
    @apply flex flex-col items-center mb-3 fixed w-full pt-4 z-20 h-12 bg-gray-200 rounded-t-xl border-t border-third;
  }
  &__tip {
    &-method {
      @apply py-1 px-2 font-normal text-xs;
      margin: 0 2px;
    }
  }
  &__payment {
    @apply flex justify-between;
  }
  & .btn {
    @apply bg-third text-gray-200;
    &:hover {
      @apply bg-third;
    }
  }
}

.cart-item {
  grid-template-columns: 18% 1fr 30% 8%;
  justify-items: center;
  align-items: center;

  &__price-tag {
    @apply bg-third rounded-lg text-gray-200 px-1 text-xs;
    width: 2.5rem;
  }
}
form {
  transition: all 0.2s linear;
}
input {
  padding: 3px;
  & button {
    padding: 4px 8px;
  }
}

.sorting {
  &-btn {
    @apply mr-2 bg-gray-200 text-gray-400 text-sm rounded-md px-2 py-1 border-b border-gray-400;
    transition: all 0.1s ease;
    &:hover {
      @apply text-third border-third;
    }
  }
}

:placeholder {
  @apply mr-2;
}

@tailwind utilities;
