@tailwind base;
@tailwind components;

.App {
  @apply w-full h-full;
  transition: all 0.3s ease;
}

.card {
  @apply flex flex-col items-center text-gray-700 mt-6 p-4;

  &__img {
    @apply border border-gray-700 rounded-md h-56 py-3 px-10;
  }
  &__name,
  &__abv {
    @apply text-center;
  }
  &__abv {
    @apply mb-6;

    &-unit {
      @apply font-light text-sm;
    }
  }
}
.active {
  @apply text-third;
}

button:focus {
  @apply outline-none;
}

.counter-btn {
  @apply w-1/5 text-center;
  height: 1.8rem;
}

/* tab styling */

.tab {
  @apply relative w-1/4 py-3 px-1 rounded-t-lg text-purple-400;
  &.active {
    @apply bg-gray-200 text-third;
    transition: all 0.1s ease;
    &:last-child:after {
      @apply hidden;
    }
    &:before,
    &:after {
      @apply absolute bottom-0;
      content: "";
      width: 30px;
      height: 15px;
    }

    &:after {
      right: -30px;

      border-radius: 0 0 0 15px;
      box-shadow: -15px 0 0 0 #f8f4fe;
    }

    &:before {
      left: -30px;

      border-radius: 0 0 15px 0;
      box-shadow: 15px 0 0 0 #f8f4fe;
    }
  }
}

.modal {
  @apply bg-gray-200 fixed z-10 rounded-lg text-gray-600 p-5 opacity-0 border border-third;
  width: 90%;
  transition: all 0.2s linear;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  &.open {
    opacity: 95%;
    top: 50%;
    left: 50%;
  }
  &__title {
    @apply text-2xl font-extrabold mb-4;
  }
  &__info {
    @apply font-light mb-3;
    transition: all 0.2s ease;
  }
  &__img {
    @apply mb-6 py-3 px-10 bg-white rounded-lg;
    height: 120px;
    min-width: 105px;
  }
  & .btn {
    @apply rounded-lg px-3 py-1 text-white bg-third;
    min-width: 130px;
    &:hover {
      @apply bg-gray-700;
    }
    &--close {
      /* @apply bg-third; */
      top: -40px;
      left: 0;
      /* &:hover {
        @apply bg-purple-700;
      } */
    }
  }
  &-col-2 {
    width: 31rem;
  }
}

.background {
  @apply absolute w-full h-full;
  filter: blur(4px);
}

.line {
  height: 2px;
  width: 38px;
}

.shopping-cart {
  @apply flex flex-col items-center fixed bottom-0 w-full bg-gray-200 pb-4 text-gray-600 overflow-auto rounded-t-xl;
  & .alert {
    @apply rounded-full bg-third px-2 text-secondary absolute font-semibold;
    top: 11px;
    right: 14px;
  }
  &__tip {
    &-method {
      @apply py-2 px-5 font-medium;
      margin: 0 2px;
    }
  }
  &__payment {
    @apply flex justify-between;
  }
  & .btn {
    @apply bg-third text-gray-200;
    &:hover {
      @apply bg-third;
    }
  }
}

.cart-item {
  grid-template-columns: 16.6% 1fr 30% 13%;
  justify-items: center;
  align-items: center;

  &__price-tag {
    left: 32px;
    top: -17px;
  }
}
form {
  transition: all 0.2s linear;
}
input {
  padding: 3px;
  & button {
    padding: 4px 8px;
  }
}

.sorting {
  &-btn {
    @apply mr-2 bg-gray-200 text-gray-400 font-medium rounded-md px-2 py-1 border-b border-gray-400;
    transition: all 0.1s ease;
    &:hover {
      @apply text-third border-third;
    }
  }
}

:placeholder {
  @apply mr-2;
}

@tailwind utilities;
